.open {
    margin: 3%;
    border-radius: 0.7rem;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.315), 0 25px 30px 0 rgba(0, 0, 0, 0.342);
    height: 88%;
    width: 94%;
    position: absolute;
    /* padding-bottom: 15%; */
}

#heading {
    text-align: center;
    width: 100%;
    margin-bottom: 0rem;
    padding: 0.5px;
    background-color: #343a40d5;
    color: #007bff;
    border: none;
    border-radius: 0.7rem 0.7rem 0px 0px;
}

h5 {
    padding-right: 0.8rem;
}

.link:hover {
    text-decoration: none;
    color: blanchedalmond;
}

.about {
    text-align: center;
}

.container {
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

.endline {
    /* position: fixed; */
    /* bottom: 2rem; */
    text-align: center;
}

#fb {
    margin-left: 1rem;
}

#google {
    margin-left: 1rem;
    color: brown;
}

#google:hover {
    opacity: 0.9;
}